{% extends "admin/change_list.html" %}
{% load i18n staticfiles admin_list %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
  <li><a href="{% url 'admin:pythia_user_changelist' %}">{% trans 'Manage Users' %}</a></li>
  <li>Groups</li>
</ul>
{% endblock %}

{% block pretitle %}
<ul class="nav nav-tabs">
  <li><a href="{% url 'admin:pythia_user_changelist' %}"><i class="icon-user"></i>Users</a></li>
  <li class="active"><a href="{% url 'admin:auth_group_changelist' %}"><i class="icon-group"></i>Groups</a></li>
</ul>
{% endblock %}
