.env
*.pyc
*.pid
*.swp
*.swo
*.orig
*~
.hg/
.hgignore
.coverage
htmlcov/
media/
staticfiles/
snapshots/
docs/build/
docs/source/img/tx*
docs/source/img/dm*
venv/
production/
production.tar.gz
npm-debug*
logs/

# Database/fixture dumps
*.pgdump
*.dump
*.db
*.sqlite3

# production server
.texlive2016/
hoit

# downloads
#pythia/static/files/*

# uwsgi config
sdis/sdis_uwsgi.ini

.venv/
oldvenv/
