Django==1.6.5

# DPaW custom
# django-swingers==1.1.1
https://static.dpaw.wa.gov.au/static/py/dpaw-utils/dist/dpaw-utils-0.3a4.tar.gz

Django-Select2==4.2.2
PyYAML==3.11
South==0.8.4
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.17
blessings==1.5.1
diff-match-patch==20110725.1
django-appconf==0.6
django-auth-ldap==1.2.0
django-bootstrap-pagination==1.5.0
#django-browserid==0.9
django-celery==3.1.10
django-contrib-comments==1.5
django-contrib-postgres
django-cors-headers==0.12
django-crispy-forms==1.4.0
django-extensions==1.3.7
django-extra-views==0.6.4
django-filter==0.7
#-e git+https://github.com/slurms/django-fsm.git@bb15d95c2eb11523e450f78e60c240c34b2a45bc#egg=django_fsm-master
django-fsm==2.3.0
django-guardian==1.2.0
django-immutablemodel==0.3.4
django-leaflet==0.13.2
django-mail-templated==0.2.1
django-markup-deprecated==0.0.3
django-model-utils==2.0.3
django-polymorphic==0.5.3
django-rest-swagger==0.1.14
django-reversion==1.8.0
django-smart-selects==1.0.9
django-taggit==0.12
django-uni-form==0.9.0
djangorestframework==2.3.13
djorm-ext-pgarray==0.10
djorm-pgarray==1.0
docopt==0.6.1
dulwich==0.9.6
ecdsa==0.11
factory-boy==2.3.1
fancy-tag==0.2.0
humanize==0.5
paramiko==1.12.4
psycopg2==2.5.2
pycrypto==2.6.1
pystache==0.5.4
python-magic==0.4.6
pytidylib==0.2.1
pytz==2014.4
requests==2.3.0
semantic-version==2.3.0
sqlparse==0.1.11


# Static files
#static==1.0.2
dj-static
#dj-static==0.0.6
#django-compressor>=2.0
django-compressor==1.3
django-htmlmin==0.7.0
unipath>=1.1

# Task queues
django-redis==3.6.2
django-redis-sessions==0.4.0
celery==3.1.11
kombu==3.0.16

# Templating
django-grappelli>=2.6.5
django-bootstrap3>=5.3.1,<6.0
django-braces>=1.8.0
jinja2>=2.7.3
webtemplate-dpaw==0.3

# Export to CSV
django_tablib

# Latex, Markdown, JSON, XML
lxml==3.3.5
beautifulsoup4==4.3.2
django-tinymce==1.5.2
docutils==0.11
html2text==2014.4.5
html5lib==0.999
-e git+https://github.com/slurms/markdown2latex.git@04e0b4b0850a1f55c09bcb042c3e482a3565889c#egg=markdown2latex-master
MarkupSafe==0.23
pyenchant==1.6.5
pypandoc==0.9.7
Unidecode==0.04.16

# DevOps
argparse==1.2.1
django-confy>=1.0.4
Fabric>=1.10.1
django-wsgiserver>=0.8.0rc1
gunicorn==18.0
wsgiref==0.1.2
pipdeptree
Werkzeug>=0.10.4
wercker==0.8.3

# Documentation
Pygments==1.6
Sphinx==1.2.2
pycallgraph==1.0.1
graphviz==0.3.4
Pillow==2.4.0
pydot==1.0.2
pyparsing==1.5.7
python-coveralls

# Testing and Debugging
django-debug-toolbar==1.0.1
django-dtpanel-htmltidy==0.1.1
django-nose==1.2
django-pdb
nose
coverage
mixer==5.1.2
selenium==2.45.0
ipdbplugin

# Linters
flake8
flake8-docstrings
flake8-todo
pep8-naming
flake8_import_order
radon
