# Requirements for building hosted Sphinx builds
# NOTE these requirements are duplicates of requirements.txt
django-confy>=1.0.4
Sphinx==1.2.2
pycallgraph==1.0.1
graphviz>=0.4
Pillow==2.4.0
pydot==1.0.2
pyparsing==1.5.7
mock

# We'll skip libraries with dependencies on system packages not found on readthedocs.org's build environment
# django-auth-ldap==1.2.0

Django==1.6.5

# DPaW custom
https://static.dpaw.wa.gov.au/static/py/dpaw-utils/dist/dpaw-utils-0.3a4.tar.gz
# provides:
# django-confy>=1.0.4
# django-extensions==1.3.7
# django-redis==3.6.2
# psycopg2==2.5.2

# Database, models
django-contrib-postgres
django-model-utils==2.0.3
django-polymorphic==0.5.3
djorm-pgarray==1.0
djorm-ext-pgarray==0.10
South==0.8.4

diff-match-patch==20110725.1
django-appconf==0.6
django-bootstrap-pagination==1.5.0
django-contrib-comments==1.5
django-cors-headers==0.12
django-extra-views==0.6.4
django-filter==0.7
django-fsm==2.3.0
django-guardian==1.2.0
django-immutablemodel==0.3.4
django-mail-templated==0.2.1
django-markup-deprecated==0.0.3
django-reversion==1.8.0
django-taggit==0.12
factory-boy==2.3.1
fancy-tag==0.2.0
pystache==0.5.4
python-magic==0.4.6
semantic-version==2.3.0

# API
djangorestframework==2.3.13
django-rest-swagger==0.1.14

# Export to CSV
django_tablib

# Comments
# django-disqus
# provides:
# six

# Forms and widgets
django-crispy-forms==1.4.0
django-leaflet==0.13.2
Django-Select2==4.2.2
django-smart-selects==1.0.9
django-uni-form==0.9.0
humanize==0.5

# Static files
#static==1.0.2
dj-static
django-compressor==1.3
django-htmlmin==0.7.0
unipath>=1.1

# Task queues
django-celery==3.1.10
django-redis-sessions==0.4.0

# Templating
django-grappelli>=2.6.5
django-bootstrap3>=5.3.1,<6.0
django-braces>=1.8.0
jinja2>=2.7.3
webtemplate-dpaw==0.3

# Latex, Markdown, JSON, XML, YAML
lxml==3.3.5
beautifulsoup4==4.3.2
django-tinymce==1.5.2
html2text==2014.4.5
html5lib==0.999
pyenchant==1.6.5
pypandoc==0.9.7
Unidecode==0.04.16

# DevOps
argparse==1.2.1
Fabric>=1.10.1
django-wsgiserver>=0.8.0rc1
gunicorn==18.0
wsgiref==0.1.2
pipdeptree
# Werkzeug>=0.10.4
setuptools>=18.5

# no testing for docs

# Linters
flake8
flake8-docstrings
flake8_import_order
flake8-todo
pep8-naming
radon
