{% load comments i18n %}
<form action="/comments/post/" method="post">{% csrf_token %}
  <div>
    <input type="hidden" name="next" value="{{ next|default:request.path }}" />
  </div>
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% elif field.name == "email" or field.name == "url" or field.name == "name" %}
    {# we don't deal with unauthenticated users #}
      <input type="hidden" name="{{ field.name }}" value="" /></p>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
         class="comment-block {% if field.errors %}error{% endif %}"
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  {% endfor %}
    <input type="submit" name="post" class="btn btn-success btn-block" value="{% trans "Post" %}" />
</form>
<script type='text/javascript'>
  $(function() {
    $('textarea#id_comment').on('paste', function() {
      alert("You've just copy-pasted something into the comment, " +
            "did you mean to update the document instead?");
    });
  });
</script>
