{% extends "admin/base.html" %}
{% load pythia_base humanize static %}
{% block content %}
<div class="row" id="row-overview">
    <div class="col-md-12">
        <h1>{{ division.slug }} Projects</h1>
        <!-- span class="text-muted"><small>Navigate progress reports - click to expand</small></span-->
        {# requires projects to be sorted, done in project_dashboard view #}
        {% regroup projects by program as program_list %}

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                {% for prog in program_list %}
                {% with prog.grouper as program %}
                {% url program.opts|pythia_urlname:'change' program.pk|pythia_urlquote as program_change %}

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ program.pk }}">
                            {{ program.name }}
                        </a>
                    </h4>
                </div>

                <div id="collapse-{{ program.pk }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group">
                            <div class="panel panel-default" style="background: url('{% if program.image %}{{ program.image.url }}{% endif %}');
                            background-size: cover; opacity: 1;">
                                <div class="well"
                                    style="opacity: 0.7; margin-top: 20px; margin-left: 20px; margin-right: 20px;">
                                    <h3 class="media-heading">{{ program|safe }}
                                        <a href="{{ program_change }}" onclick="return showAddAnotherPopup(this);"
                                            type="button" class="btn btn-primary btn-xs pull-right"
                                            title="Edit Program Leader's introduction" target="_">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                            &nbsp; Program details
                                        </a>
                                        <span class="text-muted">
                                            <small>updated {{ program.modified|naturaltime }}
                                                by {{ program.modifier.get_full_name }}
                                            </small>
                                        </span>
                                    </h3>

                                    <div>
                                        <p>
                                            <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                                            {{ program.program_leader.fullname|striptags }}
                                        </p>
                                    </div>

                                    <div>
                                        {% if program.focus %}
                                        <p>
                                            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                                            {{ program.focus|striptags }}
                                        </p>
                                        {% else %}Program focus goes here.{% endif %}
                                    </div>

                                    <div>
                                        {% if program.introduction %}
                                        <p>
                                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                                            {{ program.introduction|striptags }}
                                        </p>
                                        {% else %}Program introduction goes here.{% endif %}

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="panel-group" id="acc-{{ program.pk }}">

                            {% for project in prog.list %}
                            {% url project.opts|pythia_urlname:'change' project.pk|pythia_urlquote as project_change %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {% if project.image %}
                                            <img src="{{ project.image.url }}" class="media-object" alt="Project image"
                                                width="100%">
                                            {% else %}
                                            <a onclick="return showAddAnotherPopup(this);" type="button"
                                                class="btn btn-primary btn-xs pull-right" href="{{ project_change }}"
                                                title="Edit team list or project title">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                &nbsp;Add thumbnail image</a>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-9">

                                            <span class="label label-success">
                                                <i class="glyphicon glyphicon-wrench"></i>&nbsp;
                                                {{ project.get_status_display }}
                                            </span>

                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#acc-{{ program.pk }}"
                                                    href="#collapse-{{ program.pk }}-{{ project.pk }}">
                                                    <span class="text-{{ project.status_label }}">{{
                                                        project.project_name_html|safe }}</span>
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div><!-- /.panel-heading -->
                                <div id="collapse-{{ program.pk }}-{{ project.pk }}" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <div class="col-md-12">



                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.panel-body -->

                                </div><!-- /.collapse -->
                            </div><!-- /.panel-default -->
                            {% endfor %}

                        </div> <!-- #acc-{{ program.pk }} -->

                    </div><!-- /.panel-body {{ program }} -->
                </div><!-- /.panel-collapse {{ program }} -->
                {% endwith %}
                {% endfor %}

            </div><!-- /.panel-default OV -->
        </div><!-- /.panel-group OV -->
    </div><!-- /.col-md-12 OV-->
</div><!-- /#row-overview OV -->
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script>
    // Handles related-objects functionality: lookup link for raw_id_fields
    // and Add Another links.

    function html_unescape(text) {
        // Unescape a string that was escaped using django.utils.html.escape.
        text = text.replace(/&lt;/g, '<');
        text = text.replace(/&gt;/g, '>');
        text = text.replace(/&quot;/g, '"');
        text = text.replace(/&#39;/g, "'");
        text = text.replace(/&amp;/g, '&');
        return text;
    }

    // IE doesn't accept periods or dashes in the window name, but the element IDs
    // we use to generate popup window names may contain them, therefore we map them
    // to allowed characters in a reversible way so that we can locate the correct
    // element when the popup window is dismissed.
    function id_to_windowname(text) {
        text = text.replace(/\./g, '__dot__');
        text = text.replace(/\-/g, '__dash__');
        return text;
    }

    function windowname_to_id(text) {
        text = text.replace(/__dot__/g, '.');
        text = text.replace(/__dash__/g, '-');
        return text;
    }

    function showRelatedObjectLookupPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^lookup_/, '');
        name = id_to_windowname(name);
        var href;
        if (triggeringLink.href.search(/\?/) >= 0) {
            href = triggeringLink.href + '&_popup=1';
        } else {
            href = triggeringLink.href + '?_popup=1';
        }
        var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }

    function dismissRelatedLookupPopup(win, chosenId) {
        var name = windowname_to_id(win.name);
        var elem = document.getElementById(name);
        if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
            elem.value += ',' + chosenId;
        } else {
            document.getElementById(name).value = chosenId;
        }
        win.close();
    }

    function showAddAnotherPopup(triggeringLink) {
        var name = triggeringLink.id.replace(/^add_/, '');
        name = id_to_windowname(name);
        href = triggeringLink.href
        if (href.indexOf('?') == -1) {
            href += '?_popup=1';
        } else {
            href += '&_popup=1';
        }
        var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
        win.focus();
        return false;
    }

    function dismissAddAnotherPopup(win, newId, newRepr) {
        // newId and newRepr are expected to have previously been escaped by
        // django.utils.html.escape.
        newId = html_unescape(newId);
        newRepr = html_unescape(newRepr);
        var name = windowname_to_id(win.name);
        var elem = document.getElementById(name);
        if (elem) {
            var elemName = elem.nodeName.toUpperCase();
            if (elemName == 'SELECT') {
                var o = new Option(newRepr, newId);
                elem.options[elem.options.length] = o;
                o.selected = true;
            } else if (elemName == 'INPUT') {
                if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
                    elem.value += ',' + newId;
                } else {
                    elem.value = newId;
                }
            }
        } else {
            var toId = name + "_to";
            elem = document.getElementById(toId);
            var o = new Option(newRepr, newId);
            SelectBox.add_to_cache(toId, o);
            SelectBox.redisplay(toId);
        }
        win.close();
    }
</script>
{% endblock %}