{% extends "admin/base.html" %}
{% load pythia_base humanize static %}
{% block content %}
<div class="row-fluid">
  Search for <input class="search-query span6" type="text" name="FilterTextBox" id="FilterTextBox" value=""
    placeholder="project year, number and title" />
  or show
  <a href="#" id="clear" class="btn btn-small reset" rel="nofollow">All</a>
  <a href="#" id="cfspp" class="btn btn-small" rel="nofollow">Only SP and CF</a>
  <a href="#" id="current-user" class="btn btn-small" rel="nofollow">Mine</a>
  <!-- #176
  <a href="#" id="bcs" class="btn btn-small" rel="nofollow">Only BCS</a>
  <a href="#" id="rfms" class="btn btn-small" rel="nofollow">Only RFMS</a>
  <a href="#" id="cem" class="btn btn-small" rel="nofollow">Only CEM</a>
  -->
</div>
<div class="row" id="row-overview">
  <div class="col-md-12">
    <h1>
      {% if not request.user.is_superuser %}{{ division.name }} {% endif %}
      Projects
      <span class="pull-right">
        <a class="btn btn-small btn-info" href="/api/projects?format=csv" title="Download all Projects as CSV">
          <i class="glyphicon glyphicon-save glyphicon-white"></i> Projects
        </a>
      </span>
    </h1>
    <span class="text-muted">
      <small>
        This list is filtered to Projects of your own Division ({{ division.slug }}).
        Click Project titles to expand details.
      </small>
    </span>

    {% regroup projects by program as program_list %}

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        {% for prog in program_list %}
        {% with prog.grouper as program %}
        {% url program.opts|pythia_urlname:'change' program.pk|pythia_urlquote as program_change %}

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ program.pk }}">
              {{ program.name }}
            </a>
          </h4>
        </div>

        <div id="collapse-{{ program.pk }}" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group">
              <div class="panel panel-default" style="background: url('{% if program.image %}{{ program.image.url }}{% endif %}');
                            background-size: cover; opacity: 1;">
                <div class="well" style="opacity: 0.7; margin-top: 20px; margin-left: 20px; margin-right: 20px;">
                  <h3 class="media-heading">{{ program|safe }}
                    <a href="{{ program_change }}" onclick="return showAddAnotherPopup(this);" type="button"
                      class="btn btn-primary btn-xs pull-right" title="Update Program" target="_">
                      <i class="glyphicon glyphicon-pencil"></i>
                      &nbsp; Update
                    </a>
                    <span class="text-muted">
                      <small>updated {{ program.modified|naturaltime }}
                        by {{ program.modifier.get_full_name }}
                      </small>
                    </span>
                  </h3>

                  <div>
                    <p>
                      <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                      {{ program.program_leader.fullname|striptags }}
                    </p>
                  </div>

                  <div>
                    {% if program.focus %}
                    <p>
                      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                      {{ program.focus|striptags }}
                    </p>
                    {% else %}Program focus goes here.{% endif %}
                  </div>

                  <div>
                    {% if program.introduction %}
                    <p>
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                      {{ program.introduction|striptags }}
                    </p>
                    {% else %}Program introduction goes here.{% endif %}

                  </div>

                </div>

              </div>
            </div>

            <div class="panel-group" id="acc-{{ program.pk }}">

              {% for project in prog.list %}
              {% url project.opts|pythia_urlname:'change' project.pk|pythia_urlquote as project_change %}

              <div class="panel panel-default project-item"
                data-search="{{ project.get_type_display }} {{ project.year }}-{{ project.number|stringformat:" 03d" }}
                {{ project.title }} {{ project.team_list_plain }} {{ project.keywords_plain}}">
                <!-- Toggle visibility here on search -->
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-3">
                      {% if project.image %}
                      <img src="{{ project.image.url }}" class="media-object" alt="Project image" width="100%">
                      {% else %}
                      <a onclick="return showAddAnotherPopup(this);" type="button"
                        class="btn btn-primary btn-xs pull-right" href="{{ project_change }}"
                        title="Update Project details, image, team list in a popup">
                        <i class="glyphicon glyphicon-pencil"></i>
                        &nbsp;Add image</a>
                      {% endif %}
                    </div>
                    <div class="col-sm-9">
                      <div class="row">
                        <!-- Badges -->
                        <span class="label label-default">
                          <i class="glyphicon glyphicon-blackboard"></i>&nbsp;
                          {{ project.get_type_display }}
                        </span>&nbsp;
                        <span class="label label-default">
                          <i class="glyphicon glyphicon-paperclip"></i>&nbsp;
                          {{ project.year }}-{{ project.number|stringformat:"03d" }}
                        </span>&nbsp;
                        <span class="label label-default">
                          <i class="glyphicon glyphicon-check"></i>&nbsp;
                          {{ project.get_status_display }}
                        </span>&nbsp;
                        <span class="label label-default">
                          <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                          {{ project.start_date|date:"Y" }} - {{ project.end_date|date:"Y" }}
                        </span>

                        <!-- Links -->
                        <span class="pull-right">
                          <a class="btn btn-primary btn-xs" title="Toggle Project details" data-toggle="collapse"
                            data-parent="#acc-{{ program.pk }}" href="#collapse-{{ program.pk }}-{{ project.pk }}">
                            <span class="text-{{ project.status_label }}">
                              <i class="glyphicon glyphicon-resize-vertical"></i>
                              &nbsp;Expand
                            </span>
                          </a>&nbsp;
                          <a type="button" class="btn btn-primary btn-xs" href="{{ project_change }}"
                            title="Visit Project page to view and update details and related documents">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            &nbsp;Visit</a>
                        </span>

                      </div>

                      <!-- Title -->
                      <h3 class="panel-title">
                        <strong>{{ project.title|safe }}</strong>
                      </h3>

                      <!-- Team list -->
                      <h5><em>{{ project.team_list_plain|safe }}</em></h5>

                      <!-- Tagline -->
                      <div>
                        <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;
                        {% if project.tagline %}
                        {{ project.tagline|striptags }}
                        {% else %}This project needs a catchy tagline!{% endif %}
                      </div>

                      <!-- Keywords -->
                      <div>
                        <i class="glyphicon glyphicon-tags"></i>&nbsp;
                        {% if project.keywords %}
                        {{ project.keywords_plain|safe }}
                        {% else %}This project needs some keywords!{% endif %}
                      </div>
                    </div>
                  </div>
                </div><!-- /.panel-heading -->
                <div id="collapse-{{ program.pk }}-{{ project.pk }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div>
                      <i class="glyphicon glyphicon-comments"></i>&nbsp;
                      <span class="text-muted">{{ project.comments|safe }}</span>
                    </div>
                  </div>
                </div>
              </div><!-- /.panel-default -->
              {% endfor %}

            </div> <!-- #acc-{{ program.pk }} -->

          </div><!-- /.panel-body {{ program }} -->
        </div><!-- /.panel-collapse {{ program }} -->
        {% endwith %}
        {% endfor %}

      </div><!-- /.panel-default OV -->
    </div><!-- /.panel-group OV -->
  </div><!-- /.col-md-12 OV-->
</div><!-- /#row-overview OV -->
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script>
  

  // https://gist.github.com/pklauzinski/b6f836f99cfa11100488
  $.expr[':'].icontains = $.expr.createPseudo(function (text) {
    return function (e) {
      return $(e).text().toLowerCase().indexOf(text.toLowerCase()) >= 0;
    };
  });

  /*
   * Divs to toggle have class "project-item" and contain attribute data-search="..." with contents: 
   * get_type_display year number title team_list_plain team_list_plain keywords_plain
   */

  function hide(elements) {
    elements = elements.length ? elements : [elements];
    for (var index = 0; index < elements.length; index++) {
      elements[index].style.display = 'none';
    }
  }

  function show(elements, specifiedDisplay) {
    elements = elements.length ? elements : [elements];
    for (var index = 0; index < elements.length; index++) {
      elements[index].style.display = specifiedDisplay || 'block';
    }
  }


  // Filter all elements with class "project-item" which contain the search string in the data-search attribute
  function filter_search(search_string) {
    console.log(search_string);

    // Show all projects
    show($("div.project-item"));
    
    $.each(
      // Lowercase the search string and split into words
      search_string.toLowerCase().split(" "), 

      // Hide any projects not containing all the search words
      function () {hide($("div.project-item:not(:icontains('" + this + "'))"));}
    );
  }

  // FilterTextBox: On key up, filter the project list.
  $("#FilterTextBox").keyup(filter_search($("#FilterTextBox").val()));

  // TODO
  $("#clear").click(function () { $("div.project-item:hidden").show(); $("#FilterTextBox").val(""); return false; });
  $("#current-user").click(function () { $("#FilterTextBox").val("{{user.get_full_name}}").keyup(); return false; });
  $("#cfspp").click(function () {
    $("div.project-item:hidden").show(); $("#FilterTextBox").val("Science Project");
    $("div.project-item[data-search] :contains('Science Project')").show();
    $("div.project-item[data-search] :contains('Core Function')").show();
    $("#FilterTextBox").val("");
    return false;
  });



  // Handles related-objects functionality: lookup link for raw_id_fields
  // and Add Another links.

  function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
  }

  // IE doesn't accept periods or dashes in the window name, but the element IDs
  // we use to generate popup window names may contain them, therefore we map them
  // to allowed characters in a reversible way so that we can locate the correct
  // element when the popup window is dismissed.
  function id_to_windowname(text) {
    text = text.replace(/\./g, '__dot__');
    text = text.replace(/\-/g, '__dash__');
    return text;
  }

  function windowname_to_id(text) {
    text = text.replace(/__dot__/g, '.');
    text = text.replace(/__dash__/g, '-');
    return text;
  }

  function showRelatedObjectLookupPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^lookup_/, '');
    name = id_to_windowname(name);
    var href;
    if (triggeringLink.href.search(/\?/) >= 0) {
      href = triggeringLink.href + '&_popup=1';
    } else {
      href = triggeringLink.href + '?_popup=1';
    }
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
  }

  function dismissRelatedLookupPopup(win, chosenId) {
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);
    if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
      elem.value += ',' + chosenId;
    } else {
      document.getElementById(name).value = chosenId;
    }
    win.close();
  }

  function showAddAnotherPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    name = id_to_windowname(name);
    href = triggeringLink.href
    if (href.indexOf('?') == -1) {
      href += '?_popup=1';
    } else {
      href += '&_popup=1';
    }
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
  }

  function dismissAddAnotherPopup(win, newId, newRepr) {
    // newId and newRepr are expected to have previously been escaped by
    // django.utils.html.escape.
    newId = html_unescape(newId);
    newRepr = html_unescape(newRepr);
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);
    if (elem) {
      var elemName = elem.nodeName.toUpperCase();
      if (elemName == 'SELECT') {
        var o = new Option(newRepr, newId);
        elem.options[elem.options.length] = o;
        o.selected = true;
      } else if (elemName == 'INPUT') {
        if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
          elem.value += ',' + newId;
        } else {
          elem.value = newId;
        }
      }
    } else {
      var toId = name + "_to";
      elem = document.getElementById(toId);
      var o = new Option(newRepr, newId);
      SelectBox.add_to_cache(toId, o);
      SelectBox.redisplay(toId);
    }
    win.close();
  }
</script>
{% endblock %}