{% extends "admin/base.html" %}
{% load pythia_base projects humanize static crispy_forms_tags %}

{% block extrastyle %}
{{ block.super }}
<style>
/* Hack for crispy form: hide the help-block that just says "Filter" */
.help-block {display: none;}
</style>

{% endblock %}

{% block content %}
<div class="row-fluid">
    <h1>
        {% if not request.user.is_superuser %}{{ division.name }} {% endif %}
        Projects
        <span class="pull-right">
            <a class="btn btn-small btn-primary" href="/api/projects?format=csv" title="Download all Projects as CSV" download>
                <i class="glyphicon glyphicon-save glyphicon-white"></i> Download all Projects
            </a>
        </span>
      </h1>
      <span class="text-muted">
        <small>
          This list is filtered to Projects of your own Division ({{ division.slug }}).
          Click on Program titles to expand projects, and "expand" to view project details.
        </small>
      </span>
</div>

<div class="row-fluid">
  <div class="col-lg-9 col-md-8 col-sm-6 col-6">

    {% regroup project_list by program as program_list %}

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        {% for prog in program_list %}
        {% with prog.grouper as program %}
        {% url program.opts|pythia_urlname:'change' program.pk|pythia_urlquote as program_change %}

        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ program.pk }}">
              {{ program.name }}
            </a>
          </h4>
        </div>

        <div id="collapse-{{ program.pk }}" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel-group">
              <div class="panel panel-default" style="background: url('{% if program.image %}{{ program.image.url }}{% endif %}');
                            background-size: cover; opacity: 1;">
                <div class="well" style="opacity: 0.7; margin-top: 20px; margin-left: 20px; margin-right: 20px;">
                  <h3 class="media-heading">{{ program.label|safe }}
                    <a href="{{ program_change }}" onclick="return showAddAnotherPopup(this);" type="button"
                      class="btn btn-primary btn-xs pull-right" title="Update Program" target="_">
                      <i class="glyphicon glyphicon-pencil"></i>
                      &nbsp; Update
                    </a>
                    <span class="text-muted">
                      <small>updated {{ program.modified|naturaltime }}
                        by {{ program.modifier.get_full_name }}
                      </small>
                    </span>
                  </h3>

                  <div>
                    <p>
                      <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                      {{ program.program_leader.fullname|striptags }}
                    </p>
                  </div>

                  <div>
                    {% if program.focus %}
                    <p>
                      <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                      {{ program.focus|striptags }}
                    </p>
                    {% else %}Program focus goes here.{% endif %}
                  </div>

                  <div>
                    {% if program.introduction %}
                    <p>
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                      {{ program.introduction|striptags }}
                    </p>
                    {% else %}Program introduction goes here.{% endif %}

                  </div>

                </div>

              </div>
            </div>

            <div class="panel-group" id="acc-{{ program.pk }}">

              {% for project in prog.list %}
              {% url project.opts|pythia_urlname:'change' project.pk|pythia_urlquote as project_change %}

              <div class="panel panel-default project-item"
                data-search="{{ project.get_type_display }} {{ project.year }}-{{ project.number|stringformat:" 03d" }}
                {{ project.title }} {{ project.team_list_plain }} {{ project.keywords_plain}}">
                <!-- Toggle visibility here on search -->
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-3">
                      {% if project.image %}
                      <img src="{{ project.image.url }}" class="media-object" alt="Project image" width="100%">
                      {% else %}
                      <a onclick="return showAddAnotherPopup(this);" type="button"
                        class="btn btn-primary btn-xs pull-right" href="{{ project_change }}"
                        title="Update Project details, image, team list in a popup">
                        <i class="glyphicon glyphicon-pencil"></i>
                        &nbsp;Add image</a>
                      {% endif %}
                    </div>
                    <div class="col-sm-9">
                      <div class="row">
                        <!-- Badges -->
                        <span class="label label-default">
                          <i class="glyphicon glyphicon-blackboard"></i>&nbsp;
                          {{ project.get_type_display }} {{ project.project_ckantag|safe }}
                        </span>&nbsp;
                        <!-- https://github.com/dbca-wa/sdis/issues/184 -->
                        {% if request.user.show_docs %}
                        {% project_status_label project %}
                        {% endif %}

                   
                        <!-- Links -->
                        <span class="pull-right">
                          <a class="btn btn-primary btn-xs" title="Toggle Project details" data-toggle="collapse"
                            data-parent="#acc-{{ program.pk }}" href="#collapse-{{ program.pk }}-{{ project.pk }}">
                              <i class="glyphicon glyphicon-resize-vertical"></i> More...
                          </a>&nbsp;
                          <a type="button" class="btn btn-primary btn-xs" href="{{ project_change }}"
                          target="_"
                            title="Visit Project page to view and update details and related documents">
                            <i class="glyphicon glyphicon-share-alt"></i> Go to
                          </a>
                        </span>

                      </div>

                      <!-- Title -->
                      <h3 class="panel-title">
                        <strong>{{ project.title|safe }}</strong>
                      </h3>

                      <!-- Team list -->
                      <h5><em>{{ project.team_list_plain|safe }}</em></h5>

                     <!-- Duration -->
                     <div>
                        <i class="glyphicon glyphicon-calendar"></i>&nbsp;
                        {{ project.start_date|date:"Y" }} - {{ project.end_date|date:"Y" }}
                      </div>

                      <!-- Tagline disabled
                      <div>
                        <i class="glyphicon glyphicon-bullhorn"></i>&nbsp;
                        {% if project.tagline %}
                        {{ project.tagline|striptags }}
                        {% else %}This project needs a catchy tagline!{% endif %}
                      </div>-->

                      <!-- Keywords -->
                      <div>
                        <i class="glyphicon glyphicon-tags"></i>&nbsp;
                        {% if project.keywords %}
                        {{ project.keywords_plain|safe }}
                        {% else %}This project needs some keywords!{% endif %}
                      </div>
                    </div>
                  </div>
                </div><!-- /.panel-heading -->
                <div id="collapse-{{ program.pk }}-{{ project.pk }}" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div>
                      <i class="glyphicon glyphicon-comments"></i>&nbsp;
                      <span class="text-muted">{{ project.comments|safe }}</span>
                    </div>
                  </div>
                </div>
              </div><!-- /.panel-default -->
              {% endfor %}

            </div> <!-- #acc-{{ program.pk }} -->

          </div><!-- /.panel-body {{ program }} -->
        </div><!-- /.panel-collapse {{ program }} -->
        {% endwith %}
        {% endfor %}

      </div><!-- /.panel-default OV -->
    </div><!-- /.panel-group OV -->
  </div><!-- /.col-md-12 OV-->

    <!-- Filters -->
    <div id="filters-row" class="col-lg-3 col-md-4 col-sm-6 col-6">
        <form method="get">
          <div class="row-fluid">
            {{ list_filter.form|crispy }}
          {# list_filter.form #}
          </div>
          <button
            class="btn btn-primary my-2 my-sm-0 btn-block"
            title="Filter results by above criteria." type="submit">
            <i class="glyphicon glyphicon-filter"></i>&nbsp;
            Filter Projects
          </button>
        </form>
    </div><!-- /#filters-row -->
</div><!-- /#row-overview OV -->
{% endblock %}
