{% load pythia_base documents projects %}
<div class="panel panel-default" id="panel-tasks">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse"
                data-parent="#panel-tasks"
                href="#collapseTasks"
                title="These documents require {{ your }} attention!">{{ my|title }} Tasks
                <span class="pull-right {% if my_tasklist.count > 0 %}text-danger{% endif %}">
                    <i class="glyphicon{% if my_tasklist.count == 0 %} glyphicon-ok{% else %} glyphicon-flag{% endif %}"></i>
                    {{ my_tasklist.count }}
                </span>
            </a>
        </h4>
    </div>
    <div class="panel-collapse list-group collapse in" id="collapseTasks">
        {% if my_tasklist.count == 0 %}
        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-ok"></span>All done!</a>
        {% else %}
        {% for doc in my_tasklist.approvals %}
        <a href="{% url doc.opts|pythia_urlname:'change' doc.pk %}"
            class="list-group-item portfolio"
            title="This document requires {{ your }} attention: read, discuss with {{ your }} team, update, and submit as appropriate">
            <span class="glyphicon glyphicon-flag text-danger"></span>
            <span class="pull-right">{% document_status_label doc %}</span>
            {{ doc.fullname|safe }}
        </a>
        {% endfor %}
        {% for doc in my_tasklist.endorsements %}
        <a href="{% url doc.opts|pythia_urlname:'change' doc.pk %}"
            class="list-group-item portfolio"
            title="This document requires {{ your }} endorsement as Biometrician, Herbarium Curator, or Animal Ethics representative">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <span class="pull-right">{% document_status_label doc %}</span>
            {{ doc.fullname|safe }}
        </a>
        {% endfor %}
        {% endif %}
        <!--a href="#" class="list-group-item"><span class="glyphicon glyphicon-flag"></span>Kill all the humans</a>
          <a href="#" class="list-group-item"><span class="glyphicon glyphicon-flag"></span>Buy cigars</a-->
    </div>
</div><!-- /#panel-tasks -->

{% if my_portfolio.stuck %}
<div class="panel panel-default" id="panel-stuck">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#panel-stuck"
                href="#collapseStuck"
                title="These projects have been stuck in approval for more than two months">
                Stuck projects
                <span class="pull-right">
                    <i class="glyphicon glyphicon-time"></i>
                    &nbsp;{{ my_portfolio.stuck|length }}
                </span>
            </a>
        </h4>
    </div>
    <div class="panel-collapse list-group collapse in"
         id="collapseStuck">
             {% for proj in my_portfolio.stuck %}
             <a  href="{% url proj.opts|pythia_urlname:'change' proj.pk %}"
                 class="list-group-item portfolio"
                 title="This project has been idle for more than two months">
                 <span class="glyphicon glyphicon-time"></span>
                 <span class="pull-right">{% project_status_label proj %}</span>
                 {{ proj.project_name_html|safe }}
             </a>
             {% endfor %}
    </div>
</div><!-- /#panel-stuck -->
{% endif%}

<div class="panel panel-default" id="panel-projects">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse"
                data-parent="#panel-projects"
                href="#collapseProjects"
                title="These are the Science Projects and Core Functions {{ you }} lead{{ s }} (full star) or participate{{ s }} in (hollow star)">
                {{ my|title }} Projects
                {% if my_portfolio.projects %}
                <span class="pull-right">
                    <i class="glyphicon glyphicon-star"></i>&nbsp;
                    {{ my_portfolio.projects.super|length }}&nbsp;
                    <i class="glyphicon glyphicon-star-empty"></i>&nbsp;
                    {{ my_portfolio.projects.regular|length }}
                </span>
                {% endif %}
            </a>
        </h4>
    </div>
    <div class="panel-collapse list-group collapse in" id="collapseProjects">
        {# looks like a good excuse to add a couple of custom manager methods #}
        {% if my_portfolio.projects %}
        {% for proj in my_portfolio.projects.super %}
        <a href="{% url proj.opts|pythia_urlname:'change' proj.pk %}"
            class="list-group-item portfolio"
            title="This project's details list {{you}} as project owner">
            <span class="glyphicon glyphicon-star"></span>
            <span class="pull-right">{% project_status_label proj %}</span>
            {{ proj.project_name_html|safe }}
        </a>
        {% endfor %}
        {% for proj in my_portfolio.projects.regular %}
        <a href="{% url proj.opts|pythia_urlname:'change' proj.pk %}"
            class="list-group-item portfolio"
            title="{{ you|title }} {{ are }} on the team list of this project">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="pull-right">{% project_status_label proj %}</span>
            {{ proj.project_name_html|safe }}
        </a>
        {% endfor %}
        {% else %}
        <div class="list-group-item">
            {{ you|title }} {{ are }} currently not associated with any projects.
        </div>
        {% endif %}
    </div>
</div><!-- /#panel-projects -->

<div class="panel panel-default" id="panel-collaborations">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#panel-collaborations"
                href="#collapseCollaborations"
                title="These are the Student Projects and External Partnerships {{ you }} lead{{ s }} (full star) or participate{{ s }} in (hollow star)">
                {{ my|title }} Collaborations
                {% if my_portfolio.collabs %}
                <span class="pull-right">
                    <i class="glyphicon glyphicon-star"></i>
                    &nbsp;{{ my_portfolio.collabs.super|length }}&nbsp;
                    <i class="glyphicon glyphicon-star-empty"></i>
                    &nbsp;{{ my_portfolio.collabs.regular|length }}
                </span>
                {% endif%}
            </a>
        </h4>
    </div>
    <div class="panel-collapse list-group collapse in"
         id="collapseCollaborations">
        {% if my_portfolio.collabs %}
        {% for proj in my_portfolio.collabs.super %}
        <a  href="{% url proj.opts|pythia_urlname:'change' proj.pk %}"
            class="list-group-item portfolio"
            title="{{ you|title }} {{ are }} listed as the project owner in this project's details">
            <span class="glyphicon glyphicon-star"></span>
            <span class="pull-right">{% project_status_label proj %}</span>
            {{ proj.project_name_html|safe }}
        </a>
        {% endfor %}
        {% for proj in my_portfolio.collabs.regular %}
        <a  href="{% url proj.opts|pythia_urlname:'change' proj.pk %}"
            class="list-group-item portfolio"
            title="{{ you|title }} {{ are }} on this project's team list">
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="pull-right">{% project_status_label proj %}</span>
            {{ proj.project_name_html|safe }}
        </a>
        {% endfor %}
        {% else %}
        <div class="list-group-item">
            {{ you|title }} {{ are }} currently not associated with any collaborations.
        </div>
        {% endif %}
    </div>
</div>
