{% extends "admin/change_form.html" %}
{% load pythia_base documents %}

{% block second-nav %}
{% if change %}
  {% include "admin/pythia/includes/project_second-nav_menu.html" with project=original %}
{% endif %}
{% endblock %}

{% block object-tools-download %}
<!-- 
  TODO insert generate/download PDF links for project 
  https://github.com/dbca-wa/sdis/issues/197
-->
<a class="btn btn-xs btn-primary pull-right" 
  href="mailto:?subject=Question about SDIS Project {{ original.project_type_year_number }}&body=SDIS Project {{ original }} at {{ request.build_absolute_uri }}" 
  title="Share a direct link to this project via email" 
  target="_" rel="nofollow">
  <i class="glyphicon glyphicon-envelope"></i> Share
</a>
{% endblock %}


<!-- Project details, read-only, custom layout -->
{% block shinythings %}
{% if change %}
  {% include "admin/projects/shinythings.html" with project=original %}
{% endif %}
{% endblock shinythings %}

{% block field_content_begin %}
    <div{% if change %} class="colEditable collapse"{% endif %}>
{% endblock %}
{% block field_content_end %}
    </div>
{% endblock %}
