<div class="row">
<div class="col-sm-3">
    {% if project.image %}
    <a class="thumbnail" href="#">
        <img src="{{ project.image.url }}" class="media-object" alt="Project logo">
    </a>
    {% else %}
    <span class="">This project needs a picture!</span>
    {% endif %}
</div>
<div class="col-sm-9">
    <div id="project-status-dates-program">
        <span class="label label-success">
            <i class="glyphicon glyphicon-wrench"></i>&nbsp;
            {{ project.get_status_display }}
        </span>
        &nbsp;
        <span class="label label-default">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;
            {{ project.start_date|date:"Y" }} - {{ project.end_date|date:"Y" }}
        </span>
        <span class="label label-default pull-right">
            <i class="glyphicon glyphicon-home"></i>&nbsp;
            {{ project.program }}
        </span>
    </div><!-- /#project-status-dates-program -->
    <h3 class="media-heading">{{ project.project_name_html|safe }}</h3>
    <h5><em>{{ project.team_list_plain|safe }}</em></h5>
    <div>
        {% if project.tagline %}<i class="glyphicon glyphicon-comments"></i>&nbsp;
        {{ project.tagline|safe }}
        {% else %}This project needs a catchy tagline!{% endif %}
    </div>
    <div>
        <i class="glyphicon glyphicon-tags"></i>&nbsp;
        {% if project.keywords %}{{ project.keywords_plain|safe }}
        {% else %}This project needs some keywords!{% endif %}
    </div>

    <div>
        <i class="glyphicon glyphicon-comments"></i>&nbsp;
        <span class="text-muted">{{ project.comments|safe }}</span></div>

    <div id="datasets">
        <i class="glyphicon glyphicon-qrcode"></i>&nbsp;<span class="text-muted">Datasets on the
        <a href="https://data.dbca.wa.gov.au/">data catalogue</a>
        tagged with keyword <strong>{{project.project_ckantag}}</strong>:
        </span>
    </div>
    <!-- <div id="wikipages">
        <span class="text-muted">Project pages on the
        <a href="https://confluence.dpaw.wa.gov.au/display/sd/">SCD Wiki</a>
        tagged with keyword <strong>{{project.project_ckantag}}</strong>:
        </span>
    </div> -->

</div><!-- /.col -->
</div><!--/.row -->

<!-- Get datasets from CKAN data catalogue -->
<script type="text/javascript">
var ckan = "https://data.dbca.wa.gov.au/"
var ckan_api = ckan + "api/3/action/package_search?fq=tags:{{project.project_ckantag}}"
var wiki = "https://confluence.dbca.wa.gov.au/"
var wiki_api = wiki + "rest/api/search?cql=label={{project.project_ckantag}}" // doesn't work

$.ajax({
        url: ckan_api
    }).done(function(data) {
        // console.log(data.result.results);
        // console.log(ckan_api);
        $.each(data.result.results, function (index, p) {
            $('#datasets').append(
                '<div><a href="' + ckan + 'dataset/' + p.id + '">' +
                p.title + '</a></div>');
        });
    }).fail(function() {
        console.log("Failed to access " + ckan)
    });

// $.ajax({
//     url: wiki_api + keyword
// }).done(function(data) {
//     console.log(data.results);
//     console.log(wiki_api);
//     $.each(data.results, function (index, p) {
//         $('#wikipages').append(
//             '<div><a href="' + wiki + p._links.webui + '">' +
//             p.title + '</a></div>');
//     });
// }).fail(function() {
//     console.log("Failed to access " + wiki)
// });
</script>
