<div class="row">
<div class="col-xs-3">
    {% if project.image %}
    <a class="thumbnail" href="#">
        <img src="{% if project.image %}{{ project.image.url }}{% else %}#{% endif %}"
            class="media-object" alt="Project logo">
    </a>
    {% else %}
    <span class="">This project needs a logo!</span>
    {% endif %}
</div>
<div class="col-sm-9">
    <div id="project-status-dates-program">
        <span class="label label-success pull-left"><strong>{{ project.get_status_display }}</strong></span>
        <span>&nbsp;{{ project.start_date|date:"Y" }} - {{ project.end_date|date:"Y" }}</span>
        <span class="label label-default pull-right"><strong>{{ project.program }}</strong></span>
    </div><!-- /#project-status-dates-program -->
    <h3 class="media-heading">{{ project.project_name_html|safe }}</h3>
    <h5><em>{{ project.team_list_plain|safe }}</em></h5>
    <div>{% if project.tagline %}{{ project.tagline|safe }}{% else %}This project needs a catchy tagline!{% endif %}</div>
    <div><span class="text-muted">{{ project.comments|safe }}</span></div>

    <div id="datasets">
        <span class="text-muted">Datasets on the
        <a href="http://internal-data.dpaw.wa.gov.au/">data catalogue</a>
        tagged with keyword <strong>{{project.project_ckantag}}</strong>:
        </span>
    </div>
    <!-- <div id="wikipages">
        <span class="text-muted">Project pages on the
        <a href="https://confluence.dpaw.wa.gov.au/display/sd/">SCD Wiki</a>
        tagged with keyword <strong>{{project.project_ckantag}}</strong>:
        </span>
    </div> -->

</div><!-- /.col -->
</div><!--/.row -->

<!-- Get datasets from CKAN data catalogue -->
<script type="text/javascript">
var keyword = "{{project.project_ckantag}}"
var ckan = "http://internal-data.dpaw.wa.gov.au/"
var ckan_api = ckan + "api/3/action/package_search?fq=tags:"
var wiki = "https://confluence.dpaw.wa.gov.au/"
var wiki_api = wiki + "rest/api/search?cql=label=" // doesn't work

$.ajax({
        url: ckan_api + keyword
    }).done(function(data) {
        console.log(data.result.results);
        console.log(ckan_api + keyword);
        $.each(data.result.results, function (index, p) {
            $('#datasets').append(
                '<div><a href="' + ckan + 'dataset/' + p.id + '">' +
                p.title + '</a></div>');
        });
    }).fail(function() {
        console.log("Failed to access " + ckan)
    });

// $.ajax({
//     url: wiki_api + keyword
// }).done(function(data) {
//     console.log(data.results);
//     console.log(wiki_api + keyword);
//     $.each(data.results, function (index, p) {
//         $('#wikipages').append(
//             '<div><a href="' + wiki + p._links.webui + '">' +
//             p.title + '</a></div>');
//     });
// }).fail(function() {
//     console.log("Failed to access " + wiki)
// });
</script>
