<div class="row">
  <div class="col-md-12">
    <h4>Manage Team</h4>
    <p class="text-muted">The team list is sorted by list position (ascending) and last name (alphabetically).</p>
    <div class="list-group user-list">
      {% for m in project.projectmembership_set.all|dictsort:"position" %}
      <div class="list-group-item">
        <div class="pull-right">
            <a href="{% url "admin:projects_projectmembership_change" m.pk %}"
                class="btn btn-xs btn-primary"
                title="Edit this team membership - change person, role, time allocation"
                onclick="return showAddAnotherPopup(this);"
                ><i class="glyphicon glyphicon-pencil"></i>Edit</a>
            <a href="{% url "admin:projects_projectmembership_delete" m.pk %}"
                class="btn btn-xs btn-danger"
                title="Remove this person from the team (after confirmation)"
                onclick="return showAddAnotherPopup(this);"
                ><i class="glyphicon glyphicon-remove"></i>Remove</a>
        </div><!-- /.pull-right -->


        <span class="label label-default"
          title="Change this list position to move team member within the team list">
          <i class="glyphicon glyphicon-sort"></i>&nbsp;{{ m.position }}
        </span>
        &nbsp;
        <span class="label label-default" title="The time allocation to this project in FTE">
          <i class="glyphicon glyphicon-time"></i>&nbsp;{{ m.time_allocation }}
        </span>
        &nbsp;
        <span class="label
          {% if m.role == 1 %}label-info
          {% else %}label-primary{% endif %}"
          title="The role within this project">
          {% if m.role == 1 %}<i class="glyphicon glyphicon-certificate"></i>
          {% elif m.role == 7 %}<i class="glyphicon glyphicon-education"></i>
          {% elif m.role == 6 %}<i class="glyphicon glyphicon-blackboard"></i>
          {% else %}<i class="glyphicon glyphicon-user"></i>
          {% endif %}
          &nbsp;<small>{{m.get_role_display}}</small>
        </span>
        &nbsp;
        {{ m.user.fullname }}
        {% if m.comments %}<small>{{ m.comments|striptags }}</small>{% endif %}

      </div><!-- /.list-group-item -->
      {% endfor %}
      <div class="list-group-item">
        <div class="pull-right">
            <a href="{% url "admin:projects_projectmembership_add" %}?project={{ project.pk }}"
                id="add_id_%s"
                class="btn btn-xs btn-primary"
                title="Add an existing SDIS user as team member"
                onclick="return showAddAnotherPopup(this);">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;Add team member</a>
            <a href="{% url 'admin:pythia_user_add' %}"
                class="btn btn-xs btn-primary"
                target="_"
                title="Register a colleague as new SDIS user (opens new window)">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;Register an external colleague</i></a>
        </div><!-- /.pull-right -->
        &nbsp;
      </div><!-- /.list-group-item -->
    </div><!-- /.list-group  -->
  </div><!-- /.col -->
</div><!-- /.row -->
