{% extends "admin/change_form.html" %}
{% load comments pythia_base documents %}

{% block second-nav %}
  {% include "admin/pythia/includes/project_second-nav_menu.html" with project=original.project %}
{% endblock %}

{% block object-tools-download %}
{% if original.pdf %}
<li class="pull-right">
    <a href="{{ original.pdf.url }}"
       title="Download PDF">Download PDF</a>
</li>
{% endif %}
<li class="pull-right">
    <a href="{% url opts|pythia_urlname:'download_pdf' original.pk %}"
       title="Generate PDF">Generate PDF</a>
</li>

<a class="btn btn-xs btn-primary pull-right" 
  href="mailto:?subject=Question about SDIS Document {{ original }}&body=SDIS Document {{ original }} at {{ request.build_absolute_uri }}" 
  title="Share a direct link to this document via email" 
  target="_" rel="nofollow">
  <i class="glyphicon glyphicon-envelope"></i> Share
</a>
{% endblock %}

{% block shinythings %}
{{ block.super }}
<div class="well">
{% include 'admin/projects/project_showcase.html' with project=original.project %}
</div>
<div class="well">
{% include 'admin/projects/team.html' with project=original.project %}
</div>
{% endblock %}
{% block field_content_begin %}{% endblock %}
{% block field_content_end %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <!-- Project details, read-only, custom layout -->
    {% with render_document_fields=True %}{{ block.super }}{% endwith %}
  </div>
  <div class="col-md-3">
    {% document_details original %}
    {% render_comment_list for original %}
    {% render_comment_form for original %}
  </div>
</div>
{% endblock %}

