{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
{% if not is_popup %}
<ul class="breadcrumb">
  <li><a href="{% url 'admin:index' %}">Home</a></li>
  <li>All projects</li>
  <li><a href="{% url 'admin:index' %}">{{ object.project.project_type_year_number }}</a></li>
  <li><a href="{% url 'admin:index' %}">{{ opts.verbose_name|capfirst }}</a></li>
  <li>{{ title }}</li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<h4>Confirm action</h4>

<p>You are about to <i>{{ title }}</i> the {{ object_name }}.</p>

{% if explanation %}
<p>{{ explanation }}</p>
{% endif %}

<p>If you wish to proceed, click "Confirm".</p>

<form name="transition" action="" method="post">{% csrf_token %}
<div>
{% if recipients %}
<p><input type="checkbox" id="id_notify" name="_notify"
    {% if recipients and notify_default == True %}checked{% endif %}></input>&nbsp;
<label for="id_notify">Send an email notification to {{ recipients }}.</label></p>
{% endif %}

<input type="submit" id="id_confirm" value="{% trans 'Confirm' %}"
    class="btn btn-primary btn-success btn-lg btn-block" name="_confirm"/>
<a id="id_cancel_button"
    href="javascript: {% if is_popup %}window.close(){% else %}history.go(-1){% endif %}"
    class="btn btn-default btn-lg btn-block">Cancel</a>
</div>
</form>
{% endblock %}
