{% load admin_static %}
<li><a href="{% static 'files/arar-2017-2018.pdf' %}" id="arar-2017-2018" title="View ARAR 2017-2018"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2017-2018</a></li>
<li><a href="{% static 'files/arar-2016-2017.pdf' %}" id="arar-2016-2017" title="View ARAR 2016-2017"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2016-2017</a></li>
<li><a href="{% static 'files/arar-2015-2016.pdf' %}" id="arar-2015-2016" title="View ARAR 2015-2016"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2015-2016</a></li>
<li><a href="{% static 'files/arar-2014-2015.pdf' %}" id="arar-2014-2015" title="View ARAR 2014-2015"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2014-2015</a></li>
<li><a href="{% static 'files/arar-2013-2014.pdf' %}" id="arar-2013-2014" title="View ARAR 2013-2014"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2013-2014</a></li>
<li><a href="{% static 'files/arar-2012-2013.pdf' %}" id="arar-2012-2013" title="View ARAR 2012-2013"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2012-2013</a></li>
<li><a href="{% static 'files/arar-2011-2012.pdf' %}" id="arar-2011-2012" title="View ARAR 2011-2012"
    target="_"> <span class="glyphicon glyphicon-book"></span> ARAR 2011-2012</a></li>
<li><a href="{% static 'files/arar-2010-2011.pdf' %}" id="arar-2010-2011" title="View ARAR 2010-2011"
    target="_"><span class="glyphicon glyphicon-book"></span> ARAR 2010-2011</a></li>
<li><a href="{% static 'files/arar-2009-2010.pdf' %}" id="arar-2009-2010" title="View ARAR 2009-2010"
    target="_"><span class="glyphicon glyphicon-book"></span> ARAR 2009-2010</a></li>
<li><a href="{% static 'files/arar-2008-2009.pdf' %}" id="arar-2008-2009" title="View ARAR 2008-2009"
    target="_"><span class="glyphicon glyphicon-book"></span> ARAR 2008-2009</a></li>
<li><a href="{% static 'files/arar-2007-2008.pdf' %}" id="arar-2007-2008" title="View ARAR 2007-2008"
    target="_"><span class="glyphicon glyphicon-book"></span> ARAR 2007-2008</a></li>
<li><a href="{% static 'files/arar-2006-2007.pdf' %}" id="arar-2006-2007" title="View ARAR 2006-2007"
    target="_"><span class="glyphicon glyphicon-book"></span> ARAR 2006-2007</a></li>
<li><a href="{% static 'files/arar-2005-2006.pdf' %}" id="arar-2005-2006" title="View ye olde ARAR 2005-2006"
    target="_"><span class="glyphicon glyphicon-book"></span> ARAR 2005-2006</a></li>
