/* Blue bg for table header */
th.tablesorter-header.resizable-false {background-color: #e6bf99;}

/* White bg for all table cells */
table {background-color: white;}

/* Light blue active inputs */
input:focus, select:focus {background-color: #D1F0FF;}

/* the "search for project year, number, title" form input */
.search-query {width: 160px;}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {display: block;}

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {position: absolute; top: -9999px; left: -9999px;}

    tr {border: 1px solid #ccc; background-color: white;}

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

/* fixed table header when scrolling down */
table .header-fixed {
    position: fixed;
    //top: 40px; /* commented out because no fixed navbar */
    top: -9999px; /* an ugly hack to force sticky header not to double up */
    left: -9999px;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* 10 more than .navbar-fixed */
.chzn-drop { z-index: 1040 !important;}
