//th.tablesorter-header.resizable-false {background-color: #e6bf99;}

/* fix empty cells over blue background picture */
table {background-color: white;}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {display: block;}

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {position: absolute; top: -9999px; left: -9999px;}

    tr {border: 1px solid #ccc; background-color: white;}

    td {
        border: none; /* Behave  like a "row" */
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute; /* Now like a table header */
        top: 6px; /* Top/left values mimic padding */
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

}

input:focus, select:focus {background-color: #D1F0FF;}

textarea {height: 1.5em; width: 95%; overflow-y: hidden;}

table .header-fixed {
    position: fixed;
    //top: 40px; /* commented out because no fixed navbar */
    top: -9999px; /* an ugly hack to force sticky header not to double up */
    left: -9999px;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* the "search for project year, number, title" form input */
.search-query {width: 160px;}

input.vForeignKeyRawIdAdminField, input.vIntegerField {width: 40px;}

/* 10 more than .navbar-fixed */
.chzn-drop { z-index: 1040 !important;}
