{% extends "admin/base.html" %}
{% load pythia_base humanize static %}
{% block content %}
<div class="row" id="row-overview">
  <div class="col-md-12">
      <h1>{{ original.fullname }} Overview</h1>
    <span class="text-muted"><small>Navigate progress reports - click to expand</small></span>
    {# requires reports to be sorted by program, done in ARARReport.progressreports #}
    {% regroup original.progress_reports|dictsort:"project.program.position" by project.program as report_list %}

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        {% for program_reports in report_list %}
        {% with program_reports.grouper as program %}
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ program.pk }}">{{ program }}</a>
          </h4>
        </div>
        <div id="collapse-{{ program.pk }}" class="panel-collapse collapse">
          <div class="panel-body">
            {% url program.opts|pythia_urlname:'change' program.pk|pythia_urlquote as program_change %}
            <span>Program Leader: {{ program.program_leader.get_full_name }}</span>

            <a href="{{ program_change }}" onclick="return showAddAnotherPopup(this);"
              type="button" class="btn btn-primary btn-xs pull-right"
              title="Edit Program Leader's introduction" target="_"
              ><i class="glyphicon glyphicon-pencil"></i>&nbsp; PL intro</a>
            <span class="text-muted">
              <small>updated {{ program.modified|naturaltime }} by {{ program.modifier.get_full_name }}</small>
            </span>
            <p>{{ program.introduction|safe }}</p>


            <div class="panel-group" id="acc-{{ program.pk }}">

              {% for report in program_reports.list %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="label label-{{ report.status_label }} pull-left">{{ report.get_status_display }}</span>
                  <span class="text-muted">
                      <small>&nbsp;last updated {{ report.modified|naturaltime }} by {{ report.modifier.get_full_name }}</small>
                  </span>
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-{{ program.pk }}"
                      href="#collapse-{{ program.pk }}-{{ report.project.pk }}">
                      <span class="text-{{ report.status_label }}">{{ report.project.project_name_html|safe }}</span>
                    </a>
                  </h4>
                </div><!-- /.panel-heading -->
                <div id="collapse-{{ program.pk }}-{{ report.project.pk }}" class="panel-collapse collapse">
                  <div class="panel-body">

                    <div class="col-md-12">
                      {% url report.project.opts|pythia_urlname:'change' report.project.pk|pythia_urlquote as project_change %}

                      <div class="row" id="ov-prg{{program.pk}}-prj{{report.project.pk}}-title">
                        <a onclick="return showAddAnotherPopup(this);"
                          type="button" class="btn btn-primary btn-xs pull-right"
                          href="{{ project_change }}" title="Edit team list or project title" target="_"
                          ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Title</a>
                        <span class="text-{{ report.status_label }}">{{ report.project.project_name_html|safe }}</span>
                      </div><!-- /title -->

                      <div class="row" id="ov-prg{{program.pk}}-prj{{report.project.pk}}-team">
                        <a onclick="return showAddAnotherPopup(this);"
                          type="button" class="btn btn-primary btn-xs pull-right" target="_"
                          href="{{ project_change }}" title="Edit team list or project title"
                          ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Team</a>
                        <p>{{ report.project.team_list_plain }}</p>
                      </div><!-- /team -->

                      <div class="row" id="ov-prg{{program.pk}}-prj{{report.project.pk}}-report">

                        {% url report.opts|pythia_urlname:'change' report.pk|pythia_urlquote as progressreport_change %}
                        <a onclick="return showAddAnotherPopup(this);"
                          type="button" class="btn btn-primary btn-xs pull-right"
                          href="{{ progressreport_change }}" title="Edit progress report" target="_"
                          ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Progress report</a>
                        {% as_html report "context" 'h4' %}
                        {% as_html report "aims" 'h4' %}
                        {% as_html report "progress" 'h4' %}
                        {% as_html report "implications" 'h4' %}
                        {% as_html report "future" 'h4' %}
                      </div><!-- /report -->
                    </div><!-- /.col-md-12 -->
                  </div><!-- /.panel-body -->

                </div><!-- /.collapse -->
              </div><!-- /.panel-default -->
              {% endfor %}

            </div> <!-- #acc-{{ program.pk }} -->

          </div><!-- /.panel-body {{ program }} -->
        </div><!-- /.panel-collapse {{ program }} -->
        {% endwith %}
        {% endfor %}

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-stp">Student Projects</a>
              </h4>
            </div>
            <div id="collapse-stp" class="panel-collapse collapse">
              <div class="panel-body">

                {% for report in original.student_reports %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="label label-{{ report.status_label }} pull-left">{{ report.get_status_display }}</span>
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#acc-stp"
                        href="#collapse-stp-{{ report.project.pk }}">
                        <span class="text-{{ report.status_label }}">&nbsp;{{ report.project.project_name_html|safe }}</span>
                      </a>
                    </h4>
                  </div><!-- /.panel-heading -->
                  <div id="collapse-stp-{{ report.project.pk }}" class="panel-collapse collapse">
                    <div class="panel-body">
                    <div class="col-md-12">
                      {% url report.project.opts|pythia_urlname:'change' report.project.pk|pythia_urlquote as project_change %}

                      <div class="row" id="ov-stp-prj{{report.project.pk}}-title">
                        <a onclick="return showAddAnotherPopup(this);"
                          type="button" class="btn btn-primary btn-xs pull-right"
                          href="{{ project_change }}" title="Edit team list or project title"
                          ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Title</a>
                        <span class="text-{{ report.status_label }}">{{ report.project.project_name_html|safe }}</span>
                      </div><!-- /title -->

                      <div class="row" id="ov-stp-prj{{report.project.pk}}-team">
                        <a onclick="return showAddAnotherPopup(this);"
                          type="button" class="btn btn-primary btn-xs pull-right"
                          href="{{ project_change }}" title="Edit team list or project title"
                          ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Team</a>
                        <p>{{ report.project.team_list_plain }}</p>
                      </div><!-- /team -->

                      <div class="row" id="ov-stp-prj{{report.project.pk}}-report">

                        <span class="label label-{{ report.status_label }}">{{ report.get_status_display }}</span>
                        <span class="text-muted">
                          <small>updated {{ report.modified|naturaltime }} by {{ report.modifier.get_full_name }}</small>
                        </span>
                        {% url report.opts|pythia_urlname:'change' report.pk|pythia_urlquote as progressreport_change %}
                        <a onclick="return showAddAnotherPopup(this);"
                          type="button" class="btn btn-primary btn-xs pull-right"
                          href="{{ progressreport_change }}" title="Edit progress report"
                          ><i class="glyphicon glyphicon-pencil"></i>&nbsp;Progress report</a>
                        {% as_html report "progress_report" 'h4' %}
                      </div><!-- /report -->
                    </div><!-- /.col-md-12 -->


                    </div><!-- /.panel-body STP-{{ report.project.pk }} -->
                  </div> <!-- /#collapse-stp-{{ report.project.pk }} -->
                </div><!-- /panel-default -->
                {% endfor %}

              </div><!-- /.panel-body -->
            </div><!-- /#collapse-stp -->

          </div><!-- /.panel-default OV -->
        </div><!-- /.panel-group OV -->
      </div><!-- /.col-md-12 OV-->
    </div><!-- /#row-overview OV -->
    {% endblock %}

    {% block extrahead %}
{{ block.super }}
{{ media }}
<script>
// Handles related-objects functionality: lookup link for raw_id_fields
// and Add Another links.

function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}

// IE doesn't accept periods or dashes in the window name, but the element IDs
// we use to generate popup window names may contain them, therefore we map them
// to allowed characters in a reversible way so that we can locate the correct
// element when the popup window is dismissed.
function id_to_windowname(text) {
    text = text.replace(/\./g, '__dot__');
    text = text.replace(/\-/g, '__dash__');
    return text;
}

function windowname_to_id(text) {
    text = text.replace(/__dot__/g, '.');
    text = text.replace(/__dash__/g, '-');
    return text;
}

function showRelatedObjectLookupPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^lookup_/, '');
    name = id_to_windowname(name);
    var href;
    if (triggeringLink.href.search(/\?/) >= 0) {
        href = triggeringLink.href + '&_popup=1';
    } else {
        href = triggeringLink.href + '?_popup=1';
    }
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function dismissRelatedLookupPopup(win, chosenId) {
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);
    if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
        elem.value += ',' + chosenId;
    } else {
        document.getElementById(name).value = chosenId;
    }
    win.close();
}

function showAddAnotherPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    name = id_to_windowname(name);
    href = triggeringLink.href
    if (href.indexOf('?') == -1) {
        href += '?_popup=1';
    } else {
        href  += '&_popup=1';
    }
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}

function dismissAddAnotherPopup(win, newId, newRepr) {
    // newId and newRepr are expected to have previously been escaped by
    // django.utils.html.escape.
    newId = html_unescape(newId);
    newRepr = html_unescape(newRepr);
    var name = windowname_to_id(win.name);
    var elem = document.getElementById(name);
    if (elem) {
        var elemName = elem.nodeName.toUpperCase();
        if (elemName == 'SELECT') {
            var o = new Option(newRepr, newId);
            elem.options[elem.options.length] = o;
            o.selected = true;
        } else if (elemName == 'INPUT') {
            if (elem.className.indexOf('vManyToManyRawIdAdminField') != -1 && elem.value) {
                elem.value += ',' + newId;
            } else {
                elem.value = newId;
            }
        }
    } else {
        var toId = name + "_to";
        elem = document.getElementById(toId);
        var o = new Option(newRepr, newId);
        SelectBox.add_to_cache(toId, o);
        SelectBox.redisplay(toId);
    }
    win.close();
}
</script>
{% endblock %}
