{% extends "admin/base_site.html" %}
{% load i18n admin_static staticfiles pythia_base documents projects %}
{% block title %}SDIS{% endblock %}
{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script>
{% with request.user.tasklist as my_tasklist %}
{% if my_tasklist.count > 0 %}
var favicon=new Favico({animation:'popFade'});
favicon.badge({{ my_tasklist.count }});
{% endif %}
{% endwith %}
</script>
{% include 'admin/includes/leaflet-js.html' %}
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block contentwrapper %}
<div class="jumbotron hidden-xs">
    <h1>Science Directorates Information System</h1>
    <p class="hidden-sm">Hello, {% firstof request.user.first_name request.user.username %}!
        This is SDIS, DBCA's one-stop shop for project approval and reporting.</p>
    <small class="hidden-xs">
        Please update and submit (when ready) all documents awaiting your
        attention in "My Tasks", update project details and team lists of
        "My Projects" and "My Partnerships", create new projects and initiate
        closure of old projects as appropriate.
        If you get stuck, the <a href="http://sdis.readthedocs.io/">User Manual</a>
        has all the anwers!
    </small>
</div>
<div class="row">
    <div class="col-md-4">
        {% user_portfolio request.user personalise=True %}
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h2>Projects</h2>
                <p>Projects can be registered for any DBCA Division.</p>
                <a class="btn btn-primary btn-block"
                    href="{% url 'admin:projects_project_changelist' %}">
                    Browse all Projects</a>
                <!-- <a class="btn btn-default btn-block"
                    href="export/projects.Project/">
                    Download all Projects (XLS)</a> -->
                    
                <!-- Intermediate landing page offering more explanation on project types -->
                <a class="btn btn-block btn-primary" href="{% url 'admin:project_choice' %}">Create a new Project</a>

                <!-- Dropdown button group to offer the options without much explanation -->
                <!-- 
                <div class="btn-group btn-block">
                    <button type="button" class="btn btn-default btn-block dropdown-toggle" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Create Project <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'admin:projects_project_add' %}?project_type=0">Science Project</a></li>
                        <li><a href="{% url 'admin:projects_project_add' %}?project_type=1">Core Function</a></li>
                        <li><a href="{% url 'admin:projects_project_add' %}?project_type=2">External Partnership</a></li>
                        <li><a href="{% url 'admin:projects_project_add' %}?project_type=3">Student Project</a></li>
                    </ul>
                </div>
                -->
                <div style="margin-top:5px;"></div><!-- spacing hack -->
                {% scmt_preread %}
            </div>
            <div class="col-md-6">
                <h2>Reports</h2>
                <p>Currently, only BCS projects participate in annual reporting.</p>
                {% get_current_arar as current_arar %}
                {% if current_arar %}
                <a class="btn btn-success btn-block"
                    href="{% url 'admin:arar_dashboard' %}"
                    title="Read and work on BCS annual report progress reports">
                    Current BCS annual report (progress)</a>
                <a class="btn btn-primary btn-block"
                    href="{% url 'admin:pythia_ararreport_detail' current_arar.pk %}"
                    title="View the current BCS annual report online">
                    Current BCS annual report (print preview)</a>
                <button class="btn btn-default btn-block dropdown-toggle"
                    data-toggle="dropdown">
                    Download published BCS annual report <span class="caret"></span></button>
                {% endif %}
                <ul class="dropdown-menu" role="menu">
                    {% include 'admin/includes/arar_list_static.html' %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
            <h2>Data</h2>
                <a class="btn btn-primary btn-block"
                    href="https://data.dbca.wa.gov.au/"
                    target="_"
                    title="Browse the data catalogue (new tab)">
                    Data Catalogue</a>
            </div>
            <div class="col-md-6">
            <h2>Sites</h2>
                <a class="btn btn-primary btn-block"
                    href="https://scientificsites.dpaw.wa.gov.au/"
                    target="_"
                    title="Browse the Scientific Site Register (new tab)">
                    Scientific Site Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
