{% load i18n %}
{% load pythia_base %}
{% if is_popup %}
<div class="form-row">
    <div class="col-md-12">
        <input type="submit" id="id_submit_button" value="{% trans 'Save changes' %}"
        class="btn btn-primary btn-success btn-block" name="_save" {{ onclick_attrib }}/>
    </div>
</div>
{% else %}
<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <div class="btn-toolbar pull-right enforce-line-height">
        {% if show_save %}
            <input type="submit" id="id_submit_button"  value="{% trans 'Save changes' %}"
            class="btn btn-success navbar-btn" name="_save" {{ onclick_attrib }}/>
        {% endif %}
        {% if show_save_and_add_another and save_add_another_model %}
            <input type="submit" id="id_submit_button"  value="{% trans 'Save and add another' %}"
            class="btn btn-info navbar-btn" name="_addanother" {{ onclick_attrib }}/>
        {% endif %}
        {% if show_save_as_new %}
            <input type="submit" id="id_submit_button"  value="{% trans 'Save as new' %}"
            name="_saveasnew" class="btn" {{ onclick_attrib }}/>
        {% endif %}
        {% if show_delete_link %}
            <a id="id_delete_button"
            href="{% if current %}{% url opts|pythia_urlname:'delete' original.pk|pythia_urlquote current.pk|pythia_urlquote %}
            {% else %}{% url opts|pythia_urlname:'delete' original.pk|pythia_urlquote %}{% endif %}"
            class="btn btn-danger navbar-btn">{% trans "Delete" %}</a>
        {% endif %}
        <a id="id_cancel_button" href="javascript: {% if is_popup %}window.close(){% else %}window.history.go(-1){% endif %}"
            class="btn btn-default navbar-btn">Cancel</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
